.header-container {
	position: fixed;
	height: 60px;
	width: 100vw;
	z-index: 1001;
	top: 0;

	transition: top 0.2s ease-in-out;
	will-change: top;

	&.true {
		top: 0px;
	}

	&.false {
		top: -100px;
	}

	.app-logo {
		position: relative;
		padding: 20px 0 0 20px;

		img, svg {
			width: 90px;
		}
	}
}
