.circle-graph {
	position: relative;
	display: block;
	z-index: 750;
	max-width: 140px;
	max-height: 140px;
	margin: 0 auto;


	#circle-graph-canvas {
		width: 140px;
		height: 140px;
		transform: rotate(90deg);
	
		@include respond-to( xxs ) { width: 100%; height: 100%; transform: scale(1.4) rotate(90deg); }
		@include respond-to( xs ) { width: 100%; height: 100%; transform: scale(1.2) rotate(90deg); }
	}

	.circle-graph-text {
		font-family: 'DIN-Light', Helvetica, sans-serif;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		text-transform: uppercase;	
		font-weight: 100;

		.percentage {
			font-size: 1.8rem;

			@include respond-to( xxs ) { font-size: 1.1rem; }
			@include respond-to( xs ) { font-size: 1.3rem; }
		}

		.language {
			font-size: 0.7rem;

			@include respond-to( xxs ) { font-size: 0.4rem; }
			@include respond-to( xs ) { font-size: 0.6rem; }
		}
	}
}