// App
$white: #FFFFFF;
$black: #000000;

$app-background-color: #070707;

$app-text-color_light: #EFEFEF;
$app-text-color_dark: #333;

$app-accent-color-purple: #370FAE;
$app-accent-color-purple-bright: #3802d9;
$app-accent-color-orange: #D63D04;

$app-button-border: $app-text-color_light;


// Projects
$project-background-color: $black;
$project-background-cover-color: $app-text-color_light