// App
$white: #FFFFFF;
$black: #000000;

$app-background-color: #070707;
$app-text-color: #FFFFFF;
$app-accent-color-purple: #370FAE;
$app-accent-color-purple-bright: #3802d9;
$app-accent-color-orange: #D63D04;


$app-button-border: $white;


// Projects
$project-background-color: rgba( 0, 0, 0, 0.5 );
$project-background-cover-color: rgba( 0, 0, 0, 0.65 );
