.contact-wrapper {
	
	.contact-container {
		@extend .container;
		background-color: $color-white;
		color: $color-app-text-dark;
		margin-top: 120px;
		margin-bottom: 50px;

		.contact-inner {
			@extend .row;
			max-width: 80%;
			margin: 0 auto;
			padding-top: 30px;
			padding-bottom: 30px;

			h1 {
				font-family: 'DIN-Bold', helvetica, sans-serif;
				font-size: 1.6rem;
				text-transform: uppercase;
				color: $color-app-text-light;
				background-color: $color-app-black;
				display: inline-block;
				padding: 5px 10px 8px;
				margin: 30px 0;
			}

			.contact-form {
				
				& > div {
					padding: 20px 0;
				}

				.form-textfield-fname-container {
					@extend .col-xs-12;
					@extend .col-sm-6;
				}

				.form-textfield-lname-container {
					@extend .col-xs-12;
					@extend .col-sm-6;
				}

				.form-textfield-email-container {
					@extend .col-xs-12;
				}

				.form-textfield-message-container {
					@extend .col-xs-12;
				}

				.form-submit-btn {
					/*  */
				}
			}
		}
	}
}



/* Google Maps Styling */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

#iw-container {
    padding: 5px 13px;
}

#iw-container .iw-content {
        color: $color-white;
        font-size: 1.8rem;
        white-space: nowrap;
        line-height: 18px;
    }

    .p-t-sm {
        padding-top: 5px;
    }


#iw-container .iw-content {
    font-family: Campton_Bold, Helvetica, sans-serif;
    color: $color-white;
    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.gm-style-iw {
    margin: 20px;
}

#line {
    text-decoration: underline;
}

.p-t-sm {
    padding-top: 10px;
}

.p-b-sm {
    padding-bottom: 14px;
}

.gmnoprint:first-child {
    background-color: #FF0099 !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    // background:none !important;
}
