.contact-wrapper {
	
	.contact-container {
		@extend .container;
		background-color: $color-white;
		color: $color-app-text-dark;
		margin-top: 100px;
		margin-bottom: 50px;

		.contact-inner {
			@extend .row;
			max-width: 80%;
			min-height: 500px;
			margin: 0 auto;
			padding-top: 30px;
			padding-bottom: 30px;

			h1 {
				font-family: 'DIN-Bold', helvetica, sans-serif;
				font-size: 1.6rem;
				text-transform: uppercase;
				color: $color-app-text-light;
				background-color: $color-app-black;
				display: inline-block;
				padding: 5px 10px 8px;
				margin: 30px 0 15px;
			}

			.form-container {
				position: relative;

				.contact-form {

					hr {
						// border-color: #3100bd !important;
					}
					
					& > div {
						padding: 10px 0;
						display: inline-block;	
					}

					.form-textfield-fname-container {
						@extend .col-xs-12;
						@extend .col-sm-6;
					}

					.form-textfield-lname-container {
						@extend .col-xs-12;
						@extend .col-sm-6;
					}

					.form-textfield-email-container {
						@extend .col-xs-12;
					}

					.form-textfield-message-container {
						@extend .col-xs-12;
					}

					.form-submit-btn {
						position: relative;
						display: table;
						padding: 30px 0px;
						top: 0;
						left: 0;

						.app-button {
							@extend .app-button-light;
						}
						
						.form-response-msg {

							p {
								font-size: 0.8rem;
								color: #FF0000;
								margin: 5px 0 0 5px;
							}
						}
					}

				}
				
				.form-submit-overlay {
					position: absolute;
					top: 0;
					left: 0;
					background-color: $color-white-alpha;
					width: 100%;
					height: 100%;
					z-index: 1002;

					&.true {
						display: block;
						// animation: overlayFadeIn 1s forwards;
					}

					&.false {
						display: none;
						// animation: overlayFadeOut 1s forwards;
					}

					.form-submit-loader {
						@extend .center-content;
						transform: translate(-50%, -70%);
						text-transform: uppercase;
						font-size: 0.8rem;
						text-align: center;
					}
				}
			}
		}
	}
}



/* @keyframe overlayFadeIn {
	
	from {
		opacity: 0;
		display: none;
	}

	1% {
		opacity: 0;
		display: block;
	}

	to {
		opacity: 1;
		display: block;
	}
}


@keyframe overlayFadeOut {
	
	0% {
		opacity: 1;
		display: block;
	}

	99% {
		opacity: 0;
		display: block;
	}

	100% {
		opacity: 0;
		display: none;
	}
}
 */


/* Google Maps Styling */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

#iw-container {
    padding: 5px 13px;
}

#iw-container .iw-content {
        color: $color-white;
        font-size: 1.8rem;
        white-space: nowrap;
        line-height: 18px;
    }

    .p-t-sm {
        padding-top: 5px;
    }


#iw-container .iw-content {
    font-family: Campton_Bold, Helvetica, sans-serif;
    color: $color-white;
    font-size: 1.4rem;
    white-space: nowrap;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.gm-style-iw {
    margin: 20px;
}

#line {
    text-decoration: underline;
}

.p-t-sm {
    padding-top: 10px;
}

.p-b-sm {
    padding-bottom: 14px;
}

.gmnoprint:first-child {
    background-color: #FF0099 !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    // background:none !important;
}
