.project-container {
	position: relative;
	min-height: 400px;
	height: 100vh;
	width: 100vw;

	.project-container-inner {
		position: absolute;
		max-width: 875px;
		width: 80%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		.project-image {
			position: relative;
			top: 70px;
			opacity: 0;
			
			.project-background {

				img {
					display: block;
					width: 100%;
					overflow: hidden;
				}

				video {
					display: none;
				}
			}	
		}

		.project-info {
			background: $color-white;
			position: absolute;
			height: 350px;
			width: 400px;
			overflow: hidden;
			bottom: -90px;
			opacity: 0;

			@include respond-to( xxs ) { position: relative; width: 100%; max-height: 250px; }
			@include respond-to( xs ) { position: relative; width: 100%; max-height: 250px; }
			@include respond-to( sm ) { position: relative; width: 100%; max-height: 250px; }


			img {
				position: relative;
				margin: -10px 0 0 -10px;
				height: 105%;
				right: 190px;
				transform: scale(1);
				opacity: 0;
				will-change: opacity;
				transition: all 0.6s ease-in-out;

				@include respond-to( xxs ) { display: none; }
				@include respond-to( xs ) { display: none; }
				@include respond-to( sm ) { display: none; }
			}


			&:hover {
				img{
					// transform: scale(1.05);
					opacity: 0.5;
					right: 170px;
				}
			}
			
			.project-title {
				@extend .center-content;
				width: 80%;
				max-width: 400px;	
				color: $color-app-text-dark;

				.client {

				}

				h2 {
					font-family: 'DIN-Black', helvetica, sans-serif;
					font-size: 1.8rem;
					text-transform: uppercase;
				}

				h3 {
					font-size: 1.2rem;
					margin: 10px 0;
				}

				p {
					margin: 20px 0;
				}

				.appbutton-container {

					a {
						display: block;
						margin: 0 0;
					}
					.app-button {
						@extend .app-button-light;
						margin-top: 15px;
						float: right;
					}
				}
			}
		}

		&.left {
			.project-background { 
				right: -25px;

				@include respond-to( xxs ) { right: 0; }
				@include respond-to( xs ) { right: 0; }
				@include respond-to( sm ) { right: 0; }

			}
			
			.project-info {
				bottom: -25px;
				left: -25px;
				
				@include respond-to( xxs ) { bottom: 0; left: 0; }
				@include respond-to( xs ) { bottom: 0; left: 0; }
				@include respond-to( sm ) { bottom: 0; left: 0; }
			}
		}

		&.right {

			.project-background { 
				left: -25px;

				@include respond-to( xxs ) { left: 0; }
				@include respond-to( xs ) { left: 0; }
				@include respond-to( sm ) { left: 0; }
			}
			
			.project-info {
				bottom: -25px;
				right: -25px;

				@include respond-to( xxs ) { bottom: 0; right: 0; }
				@include respond-to( xs ) { bottom: 0; right: 0; }
				@include respond-to( sm ) { bottom: 0; right: 0; }
			}
		}
	}

	&.active {
		
		.project-container-inner {
			
			.project-image {
				transition: all 0.2s linear;
				opacity: 1;
				top: 0;
			}

			.project-info {
				transition: all 0.2s linear 0.2s;
				opacity: 1;
				bottom: -20px;
			}
		}
	}
}