.socialmedia-container {
	display: flex;
	width: 100%;

	.socialmedia-inner {
		position: relative;
		margin: 0 auto;

		ul {
			
			li {
				@extend .col-xs-3;
				
				a {
					color: $color-app-text-dark;

					&:hover {
						color: $color-accent-purple;
					}

					svg {

					}
				}
			}
		}
	}
}