.close-button {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 991;
	height: 40px;
	width: 40px;
	background-color: $app-text-color-dark;
	border-radius: 50%;
	margin-top: 26px;
	transition: all 0.3s ease-in-out;

	&.true {
		top: 0px;
		opacity: 1;
	}

	&.false {
		top: -100px;
		opacity: 0;
	}

	.button-background {

		svg {
			stroke: black;
		}
	}

	.button-text {
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 1.8em;
		font-family: 'DIN-Light', Helvetica, sans-serif;
		font-size: 1.4rem;
	}
}