.project-container {
	position: relative;
	min-height: 400px;
	height: 100vh;

	.project-container-inner {
		position: absolute;
		max-width: 875px;
		width: 80%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		.project-background {

			img {
				width: 100%;
				overflow: hidden;
			}

			video {
				display: none;
			}
		}	

		.project-info {
			background: $project-background-cover-color;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			
			.project-title {
				@extend .center-content;
				width: 80%;
				max-width: 400px;	
				// text-align: center;

				h2 {
					text-transform: uppercase;
				}

				p {
					margin-left: 5px;
				}
			}
		}
	}
}