.nav-container {
	position: fixed;
	
	// background: linear-gradient(#660099, #330099);
	background-color: $app-background-color;
    background: -webkit-radial-gradient(to right, #040011 0%,#150044 50%,#040011 100%);
    background: -o-radial-gradient(to right, #040011 0%,#150044 50%,#040011 100%);
    background: -moz-radial-gradient(to right, #040011 0%,#150044 50%,#040011 100%);
    background: linear-gradient(to right, #040011 0%,#150044 50%,#040011 100%);
    background-repeat: none;

	height: 100%;
	width: 100%;
	top: 0;
	z-index: 999;
	display: none;

	&.true {
		display: block;		
	}

	nav {
		@extend .center-content;

		ul {
			/* font-size: 4.2rem;
			line-height: 1.4em; */
			text-transform: uppercase;
			text-align: center;

			li {
				font-family: 'DIN-Bold', Helvetica, sans-serif;
				margin: 40% 0;
				font-size: 2rem;
			}
		}
	}
}