 // 
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; // For some Android phones
}



body, html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%; // Some mobile devices don't scale up text size on device rotation
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); // Turns on ClearType for Windows machines
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



body {  
    background-color: $color-app-background-solid;
    background: linear-gradient(to right, #040011 0%, #150044 50%, #040011 100%);
    background-repeat: none;

    color: $color-app-text-light;
    font-weight: 600;
    font-family: 'DIN-Light', Helvetica, sans-serif;
    letter-spacing: 0.01em;
    margin: 0;
    font-size: 0.9rem;

    &.display-scrim {
        overflow: hidden;
    }

    &.noscroll {
        overflow-y: hidden;
    }
}


div {
    // overlow-x: hidden;
}

 
h1, h2, h3, h4, h5, h6 {
    color: $color-app-text-dark;
}

 

a, button {
    color: $color-app-text-light;
    text-decoration: none;
    outline: 0;

    &:hover, &:active, &:focus {
        color: white;
        text-decoration: none;
    }
}


 
p
 {
    line-height: 1.4rem;
}


 
ul, ol {
    margin: 0;
    padding: 0;
    
    li {
        text-decoration: none;
        list-style-type: none;
    }
}


/* 
#app {
    background-color: $color-app-background-solid;
    background: linear-gradient(to right, #040011 0%,#150044 50%,#040011 100%);
    background-repeat: none;
}
 */



.container-fluid {
    padding-left: 0;
    padding-right: 0;

    .main-container {

        .row {

        }
    }
}




.routes-container {
    overflow-x: hidden;
}




.switch-wrapper {
    position: absolute;
    top: 0;

}




.route-wrapper > div {
    position: absolute;
}
